@font-face {
    font-family: 'NunitoSans';
    src: url('../../assets/fonts/NunitoSans-Light.ttf') format('opentype');
}

@font-face {
    font-family: 'NunitoSans';
    src: url('../../assets/fonts/NunitoSans-SemiBold.ttf') format('opentype');
    font-weight: bold;
}